.box {
  align-items: center;
  gap: var(--g-small);
}

.testimonialsSlider {
  height: 40rem;
}

.content {
  align-items: center;
  justify-content: center;
  gap: var(--g-tiny);
  min-width: 28rem;
  padding: var(--p-small);
  background-color: var(--white);
  border-radius: var(--radius);
  box-shadow: var(--light-shadow);
}

.content.active {
  border: 0.1rem solid transparent;
  border-radius: var(--radius);
  background: linear-gradient(var(--white), var(--white)) padding-box,
    linear-gradient(90deg, var(--blue), var(--pink)) border-box;
}

.reasonsSlider .content {
  height: 32rem;
}

.testimonialsSlider .content {
  height: 42rem;
}

.titles {
  align-items: center;
  border-bottom: solid 0.1rem var(--pink);
  margin-bottom: 1rem;
}

.icon svg {
  width: 4rem;
  height: auto;
}

.subtitle {
  font-size: 2.2rem;
}

.title {
  font-size: 3rem;
  text-align: center;
  font-family: var(--font-title);
}

.paragraph {
  font-size: 2.2rem;
  text-align: center;
}

@media (min-width: 1280px) {
  .box {
    gap: var(--g-large);
  }

  .content {
    min-width: 42rem;
    height: 28rem;
  }
  .testimonialsSlider .content {
    height: 36rem;
  }
}
