.sliderBtns {
  gap: var(--g-small);
  align-items: center;
  justify-content: space-between;
}

.dots {
  align-items: center;
  gap: var(--g-tiny);
}

.dot {
  display: inline-block;
  width: 0.8rem;
  height: 0.8rem;
  border-radius: var(--rounded);
  background: var(--gray-3);
  opacity: 0.6;
  border: 0;
  transition: transform 0.2s ease, opacity 0.2s ease, background 0.2s ease;
}

.dotActive {
  width: 2rem;
  background-color: var(--blue);
  opacity: 1;
}

.btns {
  gap: var(--g-small);
}

.chevronBtn {
  border: 0.1rem solid transparent;
  background: none;
  padding: var(--p-tiny);
  border-radius: var(--rounded);
  display: flex;
  background: linear-gradient(var(--white), var(--white)) padding-box,
    linear-gradient(90deg, var(--blue), var(--pink)) border-box;
  cursor: pointer;
}

.chevronBtn svg {
  transition: transform 0.1s ease;
  width: 3rem;
  height: 3rem;
}

.chevronBtn:hover svg {
  transform: translateX(0.5rem);
}

.chevronLeft {
  transform: rotate(180deg);
}
