.servicesList {
  width: 100%;
  gap: var(--g-small);
  justify-content: space-around;
  align-items: flex-end;
}

.service {
  gap: var(--g-tiny);
  transition: all 0.3s ease;
}

.serviceActive {
  transform: translateY(-0.2rem) scale(1.15);
}

.serviceLabel {
  font-family: var(--font-extra);
  font-weight: 100;
  font-size: 1.4rem;
}

.serviceActive .serviceNumber {
  color: var(--pink);
}
.serviceActive .serviceLabel {
  color: var(--blue);
  font-weight: 600;
}

.servicesDetails {
  gap: var(--g-small);
  align-items: center;
}

/* PROJECTS SECTION */
.projectsBox {
  max-width: 140rem;
  margin: 0 auto;
  gap: var(--g-medium);
}

@media (min-width: 500px) {
  .btnsBox {
    flex-direction: row;
  }
}

@media (min-width: 780px) {
  .servicesDetails {
    flex-direction: row;
    gap: 0;
    justify-content: space-around;
    width: 100%;
    max-width: 70rem;
    justify-self: center;
  }

  .infoBox {
    padding: var(--p-small);
  }
}

@media (min-width: 1024px) {
  .projectsBox {
    display: flex;
    flex-direction: row;
    height: 30vw;
    max-height: 50rem;
    gap: 4rem;
  }
}
@media (min-width: 1280px) {
  .box {
    gap: 4rem;
  }
  .projectsGrid {
    gap: 10em;
  }
}
