.cardsContent {
  align-items: center;
  gap: var(--g-large);
}

.servicesList {
  width: 100%;
  gap: var(--g-small);
  justify-content: space-around;
  align-items: flex-end;
}

.service {
  gap: var(--g-tiny);
  transition: all 0.3s ease;
}

.serviceActive {
  transform: translateY(-0.2rem) scale(1.15);
}

.serviceLabel {
  font-family: var(--font-extra);
  font-weight: 100;
  font-size: 1.4rem;
}

.serviceActive .serviceNumber {
  color: var(--pink);
}
.serviceActive .serviceLabel {
  color: var(--blue);
  font-weight: 600;
}

.servicesDetails {
  gap: var(--g-small);
  align-items: center;
}

.detailsBox {
  align-items: center;
}

/* SLIDER */
.slider {
  position: relative;
  height: 40rem;
  touch-action: pan-y;
  cursor: grab;
}

.dragging {
  cursor: grabbing;
  -webkit-user-select: none; /* iOS */
  user-select: none;
}

.locking {
  touch-action: none;
}

/* SLIDER IMAGES */
.item {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); /* el JS añade el resto */
  transform-origin: center center;
  transition: transform 220ms ease;
  will-change: transform;
  -webkit-user-select: none; /* iOS */
  user-select: none;
}

.card {
  border-radius: var(--radius);
  overflow: hidden;
  box-shadow: 0 0 4px rgba(13, 8, 16, 0.5);
}

.card img {
  width: 23rem;
  height: 32rem;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  user-select: none; /* evita selección accidental */
}

/* REASON SECTION */

.container {
  display: flex;
  flex-direction: column;
  gap: 6rem;
}

.box {
  align-items: center;
  gap: 2rem;
}

.stats,
.reasonBox {
  border: 0.1rem solid transparent;
  border-radius: var(--radius);
  background: linear-gradient(var(--white), var(--white)) padding-box,
    linear-gradient(90deg, var(--blue), var(--pink)) border-box;
}

.stats {
  width: 100%;
  display: flex;
  flex-direction: row;
  padding: 2rem;
}

.statIcon {
}

.statIcon svg {
  width: 10rem;
  height: auto;
  transform: scale(2.2);
}

.details {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 2;
  margin-bottom: -1rem;
}

.details p {
  color: var(--black);
}

.details p:nth-child(2) {
  font-size: 4rem;
  font-family: var(--font-extra);
}

.reasonsList {
  width: 100%;
  gap: var(--g-tiny);
  flex-wrap: wrap;
  justify-content: center;
}

.reasonsList button {
  text-transform: none;
  flex: none;
}

.reasonBox {
  width: 28rem;
  height: 18rem;
}

@media (min-width: 780px) {
  .servicesDetails {
    flex-direction: row;
    gap: 0;
    justify-content: space-around;
    width: 100%;
    max-width: 70rem;
    justify-self: center;
  }

  .detailsBox {
    width: 70%;
    order: 2;
  }
}

@media (min-width: 1280px) {
  .slider {
    height: 48rem;
  }

  .card img {
    width: 26rem;
    height: 38rem;
  }
}
