.projectsGrid {
  display: grid;
  grid-template-columns: 1fr;
  gap: var(--g-xlarge);
  margin-top: 2rem;
}

.btnsBox {
  align-self: center;
}

/* CLIENTS */

.clientsSub {
  flex-wrap: wrap;
  justify-content: center;
}

.clientsSub span {
  padding: 0 var(--p-tiny);
}
.clientsSub > span:not(:last-child) {
  border-right: solid 0.2rem var(--pink);
}

@media (min-width: 780px) {
  .btnsBox {
    margin-top: 2rem;
  }
}

@media (min-width: 1024px) {
  .projectsGrid {
    margin-top: 6rem;
  }
  .btnsBox {
    margin-top: 4rem;
  }
}

@media (min-width: 1024px) {
}
