.main {
  max-width: 90rem;
  margin: 10rem auto;
  padding: 0 1.6rem;
  gap: var(--g-medium);
  text-align: center;
}

.main button {
  justify-self: center;
  margin-top: 2rem;
}

.link {
  color: var(--blue);
}

.link:hover {
  color: var(--pink);
}
