.footer {
}
.container {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  padding: 4rem 2.5rem;
}
.titleBox {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.socials {
  display: flex;
  gap: 1rem;
}

.socials svg {
  width: 5rem;
  height: auto;
}

.cta {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.cta p {
  font-family: var(--font-paragraph);
  font-size: 2rem;
}

.footerContent {
  border-radius: 2rem;
  border: 0.2rem solid transparent;
  background: linear-gradient(var(--white), var(--white)) padding-box,
    linear-gradient(90deg, var(--blue), var(--pink)) border-box;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
}
.logos {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.logos svg:first-child {
  width: 9rem;
  height: auto;
}
.logos svg:last-child {
  width: 4rem;
  height: auto;
}

.copyrights {
  display: grid;
  justify-items: center;
  gap: 0.5rem;
}

.copyrights a,
.copyrights p {
  font-size: 1.6rem;
  font-family: var(--font-paragraph);
  transition: color 0.3s ease;
}

.copyrights a:hover {
  color: var(--blue);
}

.languages {
  display: flex;
  gap: 1.5rem;
}
