@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Sofia+Sans+Extra+Condensed:ital,wght@0,1..1000;1,1..1000&display=swap");

@font-face {
  font-family: "Bodoni MT Condensed";
  src: url("/fonts/BodoniMTCondensed.woff2") format("woff2");
  font-weight: 400; /* mejor usar número */
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Bodoni MT Condensed";
  src: url("/fonts/BodoniMTCondensed-Bold.woff2") format("woff2");
  font-weight: 700; /* bold -> 700 */
  font-style: normal;
  font-display: swap;
}

:root {
  --font-title: "Bodoni MT Condensed", serif;
  --font-paragraph: "Sofia Sans Extra Condensed", sans-serif;
  --font-extra: "JetBrains Mono", monospace;

  --blue: #5968b2;
  --pink: #f441a5;
  --black: #0d0810;
  --white: #fcfcfc;

  --gray-1: #f2f2f2;
  --gray-3: #b8b8b8;

  --p-tiny: 1rem;
  --p-small: 2rem;
  --p-medium: 4rem;
  --p-large: 6rem;

  --g-tiny: 1rem;
  --g-small: 2rem;
  --g-medium: 3rem;
  --g-large: 4rem;
  --g-xlarge: 6rem;
  --g-xxlarge: 8rem;

  --fz-paragraph: 2.2rem;

  --radius: 2rem;
  --rounded: 100rem;

  --light-shadow: 0 0 2px 1px rgba(13, 8, 16, 0.1);
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  background-color: var(--white);
  color: var(--black);
  font-family: var(--font-paragraph);
}

li {
  list-style: none;
}

a {
  display: inline-block;
  text-decoration: none;
  color: inherit;
}

img {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
  object-position: center;
}

h1 {
  color: var(--white);
}

h1,
h2 {
  font-family: var(--font-paragraph);
  text-transform: uppercase;
  font-size: clamp(6rem, 19vw, 12rem);
  text-align: center;
  font-weight: 900;
  line-height: 0.8;
}
h3 {
  font-family: var(--font-title);
  font-size: 4rem;
  font-weight: 400;
  line-height: 1;
}
h4 {
  font-family: var(--font-title);
  font-size: 3.4rem;
  font-weight: 600;
  text-align: center;
}
h5 {
  font-family: var(--font-title);
  font-size: 2.8rem;
  text-align: center;
  font-weight: 400;
  line-height: 1;
  margin-bottom: 1rem;
}
h6,
.u--light-text {
  font-family: var(--font-extra);
  font-size: 1.4rem;
  font-weight: 100;
  color: var(--gray-3);
}

h6 {
  text-align: end;
}

picture {
  display: block;
}

.main,
.section {
  gap: var(--g-medium);
  padding: var(--p-medium) var(--p-small);
  overflow: hidden;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 4rem;
  width: 100%;
  max-width: 160rem;
  margin: 0 auto;
}

.title-box {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

/* ----------------------------------------- */
/* ---------  UTILITIES CLASSES -------------*/
/* ----------------------------------------- */

.u--paragraph {
  font-size: 2.2rem;
  font-family: var(--font-paragraph);
}

.u--text-centered {
  text-align: center;
}

.u--pink-text {
  color: var(--pink);
}

.u--blue-text {
  color: var(--blue);
  font-weight: 500;
}

.u--bold {
  font-weight: 700;
}

.u--bg-gray {
  background-color: var(--gray-1);
}

.u--flex-column {
  display: flex;
  flex-direction: column;
}

.u--flex-row {
  display: flex;
  flex-direction: row;
}

.u--mw-centered {
  max-width: 160rem;
  margin: 0 auto;
}

@media (min-width: 768px) {
  .main,
  .section {
    padding: var(--p-large) var(--p-medium);
  }
  h3 {
    font-size: 5rem;
  }
}

@media (min-width: 1024px) {
  h3 {
    font-size: 6rem;
  }
}

@media (min-width: 1280px) {
  .u--paragraph {
    font-size: 2.6rem;
  }
  h3 {
    font-size: 7rem;
    width: 80%;
  }
  h4 {
    font-size: 4rem;
  }
  h5 {
    font-size: 3.8rem;
  }
}
@media (min-width: 1440px) {
  h3 {
    font-size: 8rem;
  }
}
